{
  "presets": [
    ["env", {
    "modules": false,
    "targets": {
      "browsers": ["last 2 Chrome versions", "last 2 Firefox versions"]
    }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
