{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "shared-node-browser": true
  },
  "globals": {
    "browser": false
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-alert": "off",
    "no-console": "off",
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "all" }]
  },
  "overrides": [
    {
      "files": "test/**/*",
      "env": {
        "jest": true
      }
    }
  ]
}
